<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>半导体</title>
    <link type="text/css" href="semiconductor.css">
</head>
<body>
    <form name="fm" method="post" action="/semiconductor">
        <p>账号：<input type="text" name="username" /></p>
        <p>密码：<input type="password" name="passwd"/></p>
        <p>兴趣爱好：
            <label><input type="checkbox" name="hobby" value="runner">跑步</label>
            <label><input type="checkbox" name="hobby" value="swimming">游泳</label>
            <label><input type="checkbox" name="hobby" value="handwriting">书法</label>
        </p>
        <input type="submit">
    </form>
</body>
</html>